@use '../../assets/sass/variables' as *;

.counter {
	padding: 2rem 0;
	background-color: rgba($color-primary, 0.2);
	border: solid 2px $color-primary;
	border-radius: 20px;

	&__header {
		font-size: 1.2rem;
	}

	&__count {
		color: $color-secondary;
		font-size: 2rem;
		margin: 0.5rem 0;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}
}
