@use '../../assets/sass/variables' as *;

.ticket {
	width: 85vw;
	padding: 0.6rem;
	border: solid 2px $color-purple;
	border-radius: 5px;

	&__header {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	&__text {
		background-color: rgba($color-purple, 0.6);
		padding: 0.2rem;
		border-radius: 16px;
	}
}

@media screen and (min-width: 550px) {
	.ticket {
		width: inherit;
	}
}

@media screen and (min-width: 768px) {
	.ticket {
		width: inherit;
	}
}

.animate {
	animation: tada; /* referring directly to the animation's @keyframe declaration */
	animation-duration: 500ms; /* don't forget to set a duration! */
}
