// $color-purple: #991eaa;
// $color-purple-dark: #7423a4;
// $color-purple-darker: #50289e;
// $color-blue: #2b2d97;
// $color-background: #063291;

$color-primary: #259f7d;
$color-secondary: #dc6888;
$color-tertiary: #9f2547;
$color-purple-dark: #7423a4;
$color-purple-darker: #50289e;
$color-blue: #2b2d97;
$color-background: #494949;
